<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YCBreadCrumbViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12AFF7721D4A01E200DA3504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12AFF78B1D4A01E300DA3504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12AFF7961D4A01E300DA3504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
